# Sample .txt2phorc file
# Thomas Portele, 26.1.1999 
#
# --------------------------------------
#
# PATH variables
#
# All path names must end with a separator !!!!!!!
#
DATAPATH=/home/tpo/txt2pho/data/


# Path to voice files
INVPATH=/home/tpo/txt2pho/data/


# Path to temporary and log files (default: /tmp/)
TEMPPATH=/tmp/

#
# --------------------------------------
#
# DEFAULT variables
#
# Default prosody (male or female)
INVENTORY=male

# Debuglevel
DEBUGLEVEL=0

#
# --------------------------------------
#
# PROSODY variables
#
# Name of prosody generation tree
NEWTREE=newtree

# Reduction level
REDUCTION=1

# Prominence computation by rule or CART tree
PROMCOMP=1

# Default speech rate
SPEECHRATE=1.15

# Duration computation
USENET=3

#
# --------------------------------------
#

